[build]
target = "riscv64gc-unknown-none-elf"
rustflags = ["-C", "code-model=small", "-C", "relocation-model=pic", "-C", "link-arg=-znognustack", "-C", "link-arg=--pie", "-C", "link-arg=--no-dynamic-linker", "-C", "link-arg=--apply-dynamic-relocs"]

[unstable]
build-std = ["core", "alloc", "compiler_builtins"]
build-std-features = ["compiler-builtins-mem"]
